* {
    background: #23272a;
    color: #ffffff
}

button {
    background-color: #40444b;
    border: 2px solid #23272a;
    color: #ffffff;
    padding: 14px 28px;
    margin: 0 5px;
    height: auto;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    font-family: Lato;
    border-radius: 8px;
    -webkit-transition-duration: .6s;
    transition-duration: .3s;
}

button:hover {
    color: #6a80e2;
}
